.dialog {
  width: 500px;
  padding: 10px;
  background-color: green;
  border: 1px solid black;
  margin: 40px auto;
  position: relative;
}
.dialog::after {
  content: "";
  position: absolute;
  background-color: green;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  top: -16px;
  left: 48%;
  transform: translate(50%, 50%);
  transform: rotate(45deg);
}