* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .movie {
    width: 100%;
  }
  .movie iframe {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .movie {
    display: flex;
    justify-content: center;
  }
}